.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
ios/Pods/
ios/.symlinks/
.idea/
.vscode/
*.iml
*.log
.env
